html, body {
	width: 100%;
}
body {
	background-color: #f0f0f0;
}
img{
	width:150px;
	height:150px;
}
h2{
	border-radius: 5px;
	background:red;
	width: 200px;
	margin-left: auto;
	margin-right: auto;
}


.backImg{
	background: url('images/wp.jpg');
	height: 800px;
}
.equipes{
    border: 1px solid blue;
    padding: 0;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.equipe_casa{
    border: 1px solid blue;
    padding: 0;
    background: transparent;
    width: 225px;
	float: left;
	text-align:center;
}

.equipe_visitante{
    border: 1px solid blue;
    padding: 0;
    background: transparent;
    width: 225px;
	float: right;
	text-align:center;
}


section{
	border: 1px solid blue;
    height: 200px;
	width: 400px;
	margin-left: auto;
    margin-right: auto;
    margin-top: 250px;
}

.mostrarValor{
	text-align: center;
	font-size: 40pt;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	width: 200px;
	background-color: transparent;
	color: white;
}

.Classexibe{
	text-align:center;
}

.Controls{
	border: 1px solid blue;
	margin-left: auto;
	margin-right: auto;
	width: 310px;
	padding: 5px;
}

.btn {
	width:100px;
	border-radius: 5px;
	height: 30px;
	width: 100px;
	background: white;
}

.btn:hover{
	background: rosybrown;
}

