*{
    font-family: 'Roboto', sans-serif;
}


body{
    background-color: rgb(6,71,128);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.container{
	margin-left:auto;
	margin-right:auto;
	width:100%;
	padding:0px;
}

h1{
    color: white;
    text-align: center;
    font-size: 3em;
    margin-left: 1px;
    margin-right: auto;
}

h2{
    color: white;
    text-align: center;
    width: 450px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 2px solid whitesmoke;
}

h4{
    text-align: center;
    color: white;
    font-style: italic;
}



button{
    
    margin: 2px;
    margin-left: 200px;
    padding: 5px;
    width: 100px;
    height: 40px;
    font-size: 20px;
    font-weight: 500;
    font-style: bold; 
    border: none;
    background: linear-gradient(to right, rgb(6,71,128) 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .5s ease-out;

}

button:hover{
    background-position: left bottom;
}

a{
    color: black;
    text-decoration: none;
    padding: 8px;
}

a:hover {
    color: whitesmoke;
}
.buttons{
    display: grid;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 500px;
    height: auto;
    
}

#img_ifba{
    
    margin-left: auto;
    margin-right: auto;
    height: 220px;
    width: 160px;
    background: url(images/ifba_santoamaro.jpg);
    float: left;
    margin-left: 15px;
    
}



@media (min-width:1200px){
}

@media (min-width:768px) and (max-width:979px){
	
}

@media(max-width:767px){
	
}

@media(max-width:480px){
	
}


